.venv/
venv/
env/
.env
*.env
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.swp
*.swo
*.bak
*.tmp
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
*.sqlite3
*.db
*.json
*.csv
*.pickle
chat.json
chat_history.json
static/assets/*
!static/assets/background.png
midia/
__output__/
*.ipynb_checkpoints
*.faiss
*.idx
*.hnsw
